@import "var.scss";
@import "global.scss";

.search{
  margin: $header-height + 20px auto auto;
  background-color: $color-white;
  border-radius: 12px;
  width: 70%;;
  position: relative;
}

.searchList-nav {
  @include layout(space-around);
  font-size: 1.5rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: $color-black;
  background-image: linear-gradient(to right, #ffeb3b, #2cb5e8 69%);
  border-bottom: 3px solid cyan;
  span {
    width: 50%;
    text-align: center;
    display: inline-block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    line-height: 63px;
    cursor: pointer;
  }
}

.isActive {
  font-weight: 600;
  color: deeppink;
  background-image: linear-gradient(to right , #e66465, rgb(255, 208, 75));
}
