@import "var.scss";
@import "global.scss";

.search{
  margin: $header-height + 20px auto auto;
  background-color: $color-white;
  border-radius: 12px;
  width: 900px;
  position: relative;
}

.searchList-nav {
  @include layout(space-around);
  font-size: 1.5rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: $color-black;
  background-image: linear-gradient(to right, #ffeb3b, #2cb5e8 69%);
  border-bottom: 2px solid cyan;
  span {
    width: 40%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
    cursor: pointer;
  }
}

.isActive {
  font-weight: 600;
  border-bottom:5px solid $color-black;
}
